<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Album example for Bootstrap</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
</head>

<body>

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Bookinfo CloudCom Tutorial 2018</strong>
            </a>
        </div>
    </div>
</header>

<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
        </a>

        <a class="py-2 d-none d-md-inline-block" href="#">Cart (3)</a>
    </div>
</nav>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">CloudCom 2018 Microservices Tutorial - Bookstore App</h1>
            <p class="lead text-muted">This example deploys a sample application composed of four separate microservices used to demonstrate various concepts of Microservices. The application displays information about a book, similar to a single catalog entry of an online book store. Displayed on the page is a description of the book, book details and a few book reviews.<p>
        </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row" id="product_results">

                <!--<div class="col-md-4">-->
                <!--<div class="card mb-4 shadow-sm">-->
                <!--<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">-->
                <!--<div class="card-body">-->
                <!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                <!--<div class="d-flex justify-content-between align-items-center">-->
                <!--<div class="btn-group">-->
                <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                <!--<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                <!--</div>-->
                <!--<small class="text-muted">9 mins</small>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->


            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>


<script>


    $.ajax({
        url: "http://apigateway.localhost/api/v1/all",
        method: "GET",
    })
        .done(function(data){

            var i;
            var sum = 0;
            var avg = 0;
            for (i=0;i<data.length;i++){
                avg =0;
                sum = 0;
                for (j=0;j<data[i].ratings.length;j++){
                    sum += data[i].ratings[j].rating
                }

                avg = sum / data[i].ratings.length

                var ratingMsg = 'Avg Rating '+avg+' out of 5';

                if (data[i].ratings.length==0){
                    ratingMsg = 'Rating Service currently unavailable';
                }

               var reviewsMsg = 'There are currently no reviews available';

                if (data[i].reviews.length > 0){
                    reviewsMsg = "There are "+data[i].reviews.length+" reviews";
                }

                $("#product_results").append(

                    '<div class="col-md-4">' +
                    '<div class="card mb-4 shadow-sm">' +
                    '<img class="card-img-top" src="'+data[i].book.image+'" alt="'+data[i].book.title+'">' +
                    '<div class="card-body">' +
                    '<h5>'+data[i].book.title+'</h5>'+
                    '<p class="card-text">'+data[i].book.description+'</p>' +
                    '<div class="d-flex justify-content-between align-items-center">' +
                    '<div class="btn-group">'+
                    '<a class="btn btn-sm btn-outline-secondary" href="http://product.localhost/products/product/'+data[i].book.id+'">View</a>'+
                    '</div>'+
                    // '<small class="text-muted">Avg Rating:'+avg+'/5</small>'+
                    '<small class="text-muted">'+ratingMsg+'</small> <br/>'+
                    '<small class="text-muted">'+reviewsMsg+'</small> <br/>'+
                    '</div></div></div></div>'

                );
            }
        })
        .error(function (httpObj, textStatus) {
            if (httpObj.status == 401){
                alert("Unauthorized");
            }
        })
    ;

    $.ajaxSetup({
        statusCode: {
            401: function(){
                // Redirec the to the login page.
                alert("Unauthorised");
            }
        }
    });

        


</script>

</body>
</html>